<h3><%= @blog.title %></h3>
<p><%= @blog.content %></p>
<h1>Category: <%= @blog.category.category %></h1>
<%= link_to "Edit", edit_blog_path(@blog.id) %>
<%= link_to "Back", blogs_path %>
<%= link_to 'Delete', @blog, data: { turbo_method: :delete} %>
